* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Times New Roman", Times, serif;
}

body {
    width: 100vw;
}

.prevent_scroll {
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: #fff;
}

#upload {
    display: inline-block;
}

h1 {
    display: inline-block;
    margin: 10px;
}
h3 {
    display: inline-block;
    margin: 10px;
}

.input_text {
    margin: 5px 10px;
    padding: 0 5px;
}

.input_button {
    cursor: pointer;
    margin: 5px 10px;
    padding: 0;
}

.send_button {
    cursor: pointer;
    margin: 5px 10px;
    padding: 0 5px;
}

#results_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results_galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* max-width: 1230px; */
}

.galery_card {
    align-self: flex-start;
    width: 400px;
    height: 320px;
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 2px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.lightbox {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1400px;
    max-height: 95vh;
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
}

.lightbox_image {
    width: 100%;
}

.description {
    margin: 0 10px;
}

.comment {
    margin: 10px;
}

.overflow {
    overflow-y: scroll;
    scrollbar-width: none;
}

.galery_image {
    cursor: pointer;
    width: 380px;
    height: 250px;
    object-fit: cover;
}

.galery_caption {
    margin: 5px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    padding: 25px;
    background-color: #fff;
}

.pagination_button {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: 10px;
}

.close_button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 0 10px 0;
}

@media only screen and (max-width: 1230px) {
    #results_galery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 820px) {
    #results_galery {
        display: grid;
        grid-template-columns: 1fr;
    }
}
